body {
    padding-top: 5.2rem !important;
}

.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation .navigation-list {
    list-style: none;
    margin-bottom: 0;
    height: 5.2rem;
}

.navigation .navigation-item {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}

.navigation .navigation-link {
    display: block;
    float: left;
    height: 5.2rem;
    line-height: 5.2rem;
}
.navigation .navigation-link.right {
    float: right;
}
.menu-icon {
    cursor: pointer;
    padding: 0 1.6rem;
}
.navigation .navigation-link a {
    display: block;
    float: left;
    font-size: 1.6rem;
    line-height: 5.2rem;
    height: 5.2rem;
    padding: 0 1.6rem;
    text-decoration: none;
    transition: 0.3s;
}

.navigation .navigation-link a:hover {
    border-bottom: #9b4dca 2px solid;
    color: #9b4dca;
    font-weight: 400;
}
.navigation .navigation-link a.is-active {
    color: #9b4dca;
    border-bottom: #9b4dca 2px solid;
}

.main-container {
    padding: 1.6rem;
}
